/* navbar section */
.nav-color{
    color: #2c4964;
}
.navbar-brand{
    font-size: 30px;
    color: #2c4964 !important;
}
.navbar{
    border-bottom: 2px solid rgb(226, 233, 226);
}
.navbar-background{
    background-color: #ffffff;
}
.log-out{
    background: #1977cc;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 10px;
}




